<section class="skills" id="skills">
    <div class="max-width">
        <div class="skills-content">

                <div class="column">
                    {% for skill in site.data.skills %}
                    <div class="bars">
                        <div class="info">
                            <span>{{ skill.type }}</span>
                            
                        </div>
                        <div class="line {{ skill.level }}">
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            
                        </div>
                        <div class="line html">
                        </div>
                    </div>
                    
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            
                        </div>
                        <div class="line css">
                        </div>
                    </div>

                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            
                        </div>
                        <div class="line js">
                        </div>
                    </div>

                    <div class="bars">
                        <div class="info">
                            <span>PHP</span>
                            
                        </div>
                        <div class="line php">
                        </div>
                    </div>

                    <div class="bars">
                        <div class="info">
                            <span>MySQL</span>
                            
                        </div>
                        <div class="line mysql">
                        </div>
                    </div> -->
                </div>
        </div>
    </div>
</section>