<section class="skills" id="skills">
    <div class="max-width">
        <div class="skills-content">

                <div class="column">
                    {% for skill in site.data.skills %}
                    <div class="bars">
                        <div class="info">
                            <span>{{ skill.type }}</span>
                            
                        </div>
                        <div class="line {{ skill.level }}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</section>